BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false           # Forces each function parameter onto its own line
ColumnLimit: 100                   # You can adjust this to control when lines are broken
